.resetPass{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.resetPass-l{
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resetPass-r{
    width: 60%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}

@media(max-width:769px){
    .resetPass-l{
        width: 769px;
        height: 70vh;
    }
    .resetPass-r{
        width: 769px;
        height: 30vh;
        position: relative;
        top: -3rem;
    }
    .forPassImg{
        width: 500px;
    }
}
@media(max-width:426px){
    .resetPass-l{
        width: 426px;
        height: 60vh;
    }
    .resetPass-r{
        width: 426px;
        height: 20vh;
        position: relative;
        top: -1.5rem;
    }
    .forPassImg{
        width: 350px;
    }
}
@media(max-width:376px){
    .resetPass-l{
        width: 376px;
        height: 60vh;
    }
    .resetPass-r{
        width: 376px;
        height: 20vh;
        position: relative;
        top: -2rem;
    }
    .forPassImg{
        width: 320px;
    }
}
@media(max-width:321px){
    .resetPass-l{
        width: 321px;
        height: 60vh;
    }
    .resetPass-r{
        width: 321px;
        height: 30vh;
        position: relative;
        top: -2rem;
    }
    .forPassImg{
        width: 300px;
    }
}